@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-show-more {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-button {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}

.search-button {
  margin: 0;
  padding: 10px 56px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
}

.newsletter-button {
  margin: 0;
  padding: 18px 39px;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}

.logo-link {
  display: flex;
}

.search-navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.navigation-user-item {
  margin: 0 0 50px 0;
}

.navigation-user-link {
  display: flex;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.login {
  margin-right: auto;
}

.compare {
  margin-right: 18px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-item-second {
  margin-left: auto;
}

.navigation-link {
  display: flex;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-sub-link {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.search-form {
  display: flex;
  margin: 0 53px 45px 0;
  padding: 0;
}

.search-field {
  width: 360px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  flex-grow: 1;
}

.section-container {
  width: 1160px;
  margin: 0 auto;
}

/* Slider */
.slider {
  margin: 0 auto;
  background-color: #ffffff;
}

.slider-number {
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 180px;
  line-height: 1;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-title {
  margin: 0 0 29px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.slider-text {
  margin: 0 0 50px 0;
}

.slider-characteristics {
  display: flex;
  margin: 0;
}

.slider-characteristics-wrapper {
  margin: 0 45px 0 0;
}

.slider-characteristics-detail {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-characteristics-name {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.slider-item {
  display: flex;
  margin: 0;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-item:not(:last-child) {
  margin: 0 20px 0 0;
}

/* Category */
.category {
  margin: 70px 0;
  background-color: #ffffff;
}

.category-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.category-item {
  width: 160px;
}

.category-name {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/* Property */
.property {
  background-color: #f0f0f0;
}

.property-section-container {
  display: flex;
  justify-content: space-between;
}

.property-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  background-color: #f0f0f0;
  margin: 0 0 34px 0;
}

.property-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 280px;
  flex-shrink: 0;
}

.property-description {
  margin: 0;
  padding: 0;
  list-style: none;
}

.property-description-text {
  margin: 0;
  padding: 0;
}

/* Delivery*/
.delivery {
  background-color: #ffffff;
}

.delivery-text {
  display: flex;
  margin: 70px auto;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* Info */
.info {
  background-color: #ffffff;
}

.info-section-container {
  display: flex;
  justify-content: space-around;
  gap: 108px;
}

.info-about {
  margin: 0;
  padding: 0;
  width: 520px;
}

.info-contacts {
  margin: 0;
  padding: 0;
  width: 532px;
}

.info-title {
  margin: 0 0 48px 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.info-text {
  margin: 0 0 30px 0;
  padding: 0;
}

.about-delivery {
  margin: 0 0 40px 34px;
  padding: 0;
  list-style: none;
}

.about-delivery-company {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #000000;
}

.info-sub-title {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  margin: 0 0 30px 0;
  padding: 0;
}

.contacts-address-text {
  margin: 0;
  font-style: normal;
}

.contacts-address-phone {
  font-style: normal;
  color: #444444;
  text-decoration: underline;
}

.contacts-schedule {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

/* Newsletter */
.newsletter {
  padding-top: 64px;
  background-color: #f0f0f0;
}

.newsletter-title-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-title {
  margin: 0;
  padding: 0;
  max-width: 348px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.newsletter-text {
  margin: 0 0 0 auto;
  padding: 0;
  max-width: 560px;
}

.newsletter-form {
  display: flex;
  margin: 144px 0 0 0;
}

.newsletter-field {
  width: 557px;
}

/* Footer */
.page-footer {
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 63px 0;
}

.footer-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 15px 15px 0;
}

.footer-social-item:nth-child(3n) {
  margin: 0 0 15px 0;
}

.footer-address-text {
  max-width: 234px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-phone-link {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: underline;
}

/* Catalog */

.catalog-name {
  margin-right: 28px;
}

.catalog-logout {
  margin-right: 26px;
}

.catalog-compare {
  margin-right: 18px;
}

.inner-header {
  margin: 0 auto;
  padding: 35px 60px 0 60px;
  width: 1160px;
}

.inner-header-title {
  margin: 0 0 16px 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
}

.breadcrumbs-link {
  display: flex;
  margin: 0 36px 34px 0;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-products-section-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.catalog-left-column {
  padding-left: 60px;
}

.catalog-filter {
  width: 220px;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-right-column {
  width: 840px;
}

.catalog-title {
  margin: 26px 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
}

.catalog-title-sorting {
  margin-left: 40px;
}

.catalog-filter-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.control-input {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

}

.sorting-container {
  display: flex;
  align-items: center;
}

.select-control {
  margin: 20px 0;
  padding: 0;
}

.select-button {
  margin: 30px 0;
  padding: 0;
}

.product-list-container {
  background-color: #ffffff;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  margin: 0;
  padding: 0;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.catalog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px;
  background-color: #ebebeb;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  padding: 10px;
}

.pagination-link {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-prev {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  opacity: 1;
  text-transform: uppercase;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-disabled {}
